<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application Report</title>
    <style>
        body {
            color: blue;
            font-family: verdana;
            font-size: 18pt;  /* Adjust font size as needed */
        }
    </style>
</head>
<body>
    <h1>Application Report</h1>
    <p>Applicant Name: {{ name }}</p>
    <p>Reason for Applying: {{ reason }}</p>
    <p>Submitted At: {{ created_at }}</p>

    </body>
</html>
